<div class="card">
  <div class="card-header" >
    Applications
  </div>
  <div class="card-block" >
    <h4 class="card-title"><%= @app.name %></h4>
    <h6 class="card-subtitle mb-2 text-muted">ID: <%= @app.id %></h6>
    <p class="card-text">
      <% if !@app.description.blank? %>
      <%= @app.description %>
      <% else %>
      <i>No description.</i>
      <% end %>
    </p>
    <table class="table">
      <tbody>
        <tr>
          <th>Status</th>
          <td colspan="3"
            id="current-application"
            data-id="<%= @app.id %>"
            data-state="<%= @app.creation_state %>">
            <%= @app.creation_state == :CREATE_INFRASTRUCTURE_WAIT ? render("shared/spinner") : nil %>
            <span><%= @app.creation_state %></span>
          </td>
        </tr>
        <tr>
          <th>GitHub repository</th>
          <td colspan="3"><a href="<%= @app.github_repo_url %>"><code><%= @app.github_repo_url %></code></a></td>
        </tr>
        <% if @deployment %>
          <tr id="current-deployment"
            data-state="<%= @deployment.state %>"
            data-id="<%= @deployment.id %>">
            <th>Current deployment</th>
              <td>
                <%= [:DEPLOYMENT_SUCCEEDED, :DEPLOYMENT_FAILED].include?(@deployment.state) ?  nil : render("shared/spinner") %>
                <span name="deployment-state"><%= @deployment.state %></span>
              </td>
              <td>
                <code><%= link_to @deployment.committish, "#{@app.github_repo_url}/commit/#{@deployment.committish}" %></code> /
                <%= @deployment.env.name %>
              </td>
              <td>
                <%= Time.at(@deployment.created_at.seconds).strftime('%m-%d-%Y %I:%M:%S%p') %>
              </td>
          </tr>
        <% else %>
          <tr>
            <th>Current deployment</th>
            <td><%= link_to "Create your first deployment", new_application_deployment_path(@app.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="card-text text-muted"><small>Created: <%= Time.at(@app.created_at.seconds).strftime('%b %-d, %Y') %></small></p>
    <%= link_to 'View Environments', application_environments_path(@app.id), class: "btn btn-secondary" %>
    <%= link_to 'View Deployments', application_deployments_path(@app.id), class: "btn btn-secondary" %>
  </div>
</div>

<script>
 document.addEventListener("DOMContentLoaded", () => {
   let el = document.getElementById("current-deployment");
   let app = new DeploymentsApp(el, <%= @app.id %>);
   app.start();

   el = document.getElementById("current-application");
   app = new ApplicationsApp(el);
   app.start();
 });
</script>
