<div class="card">
    <div class="card-header">
	<%= link_to @app.name, application_path(@app.id) %>
    </div>
    <div class="card-block">
    <h4 class="card-title">Environments</h4>
    <div class="text-right mb-3">
      <%= link_to '+ New Environment', new_application_environment_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>Creation date</th>
              <th>Deploy status</th>
          </tr>
      </thead>
      <tbody>
        <% @environments.each do |env, latest_deploy| %>
            <tr scope="row">
		<td>
		    <%= link_to env.name, application_environment_path(@app.id, env.id) %>
		</td>
		<td>
		    <%= Time.at(env.created_at.seconds).strftime('%m-%d-%Y') %>
		</td>
		<td class="text-center">
		    <span class="deploy-status <%=
					       case latest_deploy&.state
					       when "success" then "deploy-status-success"
					       when "failed" then "deploy-status-failed"
					       when "rollout-wait", "evaluate-wait", "rollforward" then "deploy-status-inprogress"
					       else "deploy-status-unknown"
					       end
					       %>" title="<%= latest_deploy&.state || 'unknown' %>"></span>
		</td>
            </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
