<div class="card">
    <div class="card-header">
	<%= link_to @app.name, application_path(@app.id) %>
    </div>
    <div class="card-block">
	<h4 class="card-title">Deployments</h4>
	<div class="text-right mb-3">
	    <%= link_to '+ New Deployment', new_application_deployment_path, class: "btn btn-primary" %>
	</div>
	<table class="table table-striped">
	    <thead>
		<tr>
		    <th>Deployment</th>
		    <th>State</th>
		</tr>
	    </thead>
	    <tbody>
		<% @deployments.each do |deployment| %>
		    <tr scope="row">
			<td>	
			    <code><%= deployment.committish %></code> /
			    <%= deployment.env.name %>
			</td>
			<td>
			    <%= deployment.state %>
			</td>
		    </tr>
		<% end %>
	    </tbody>
	</table>
    </div>
</div>
