<div class="card">
    <div class="card-header">
	<%= link_to @app.name, application_path(@app.id) %> <span style="color: rgba(0, 0, 0, 0.3)">/</span>
	<%= link_to 'Environments', application_environments_path(@app.id) %> <span style="color: rgba(0, 0, 0, 0.3)">/</span>
	<%= link_to @environment.name, application_environment_path(@app.id, @environment.id) %>
    </div>
    <div class="card-block">
	<h5>Configuration</h5>
	<% if !@configuration.nil? %>
	    <p>
		<i>Latest version: <b><%= @configuration.version %></b></i>
		/ <a href="#">Previous versions</a>
	    </p>

	    <p class="card-text text-muted">
		<small>Created: <%= Time.at(@configuration.created_at.seconds).strftime('%b %d, %Y · %l:%M %P') %></small>
	    </p>
	<% end %>

	<%= form_for :configuration, url: application_environment_configurations_path, html: {class: "config-vars"} do |f| %>
	    <% if @form.errors.any? %>
		<div class="alert alert-danger" role="alert" >
		    <strong>Whoops!</strong> <%= pluralize(@form.errors.count, "error") %> prevented the config vars from being saved.
		</div>
	    <% end %>
	    <div id="config-vars-app"></div>
	<% end %>
    </div>
</div>

<script>
 document.addEventListener("DOMContentLoaded", () => {
     let el = document.getElementById("config-vars-app");
     let initial = <%= @form.config_vars.to_json.html_safe %>;
     new ConfigVarsApp(el, initial);
 });
</script>

